<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-appflip" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
   <name>AppFlip</name>
   <js-module name="AppFlip" src="www/AppFlip.js">
    <runs />
     <clobbers target="cordova.plugins.AppFlip" />
   </js-module>
<platform name="android">
  <config-file parent="/*" target="res/xml/config.xml">
    <feature name="AppFlip">
      <param name="android-package" value="com.appflip.plugin.AppFlip" />
      <param name="onload" value="true" />
    </feature></config-file>
  <config-file parent="/manifest/application" target="AndroidManifest.xml" android:launchMode="singleTop">
    <activity android:exported="true" android:name="com.appflip.plugin.AppFlipActivity">
            <intent-filter>
                <action android:name="com.google.appflip-sample" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
  </config-file>
  <source-file src="src/android/AppFlip.java" target-dir="src/com/appflip/plugin" />
  <source-file src="src/android/AppFlipActivity.java" target-dir="src/com/appflip/plugin" />
</platform>
</plugin>
